.login-form {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 2.5rem;
}

.login-form-container {
    width: 400px;
    text-align: center;
    color: #fff;
    backdrop-filter: blur(10px);
    background-color: transparent;
    border: 2px solid rgba(255, 255, 255, 0.1);
    box-shadow: 0 0 40px -20px rgba(8, 7, 16, 0.6);
    border-radius: 10px;
    padding: 2rem 1rem;
}

.login-form-container form > div {
    margin-block: 0.75rem;
}

.login-form-container input {
    outline: none;
    border: 0;
    height: 30px;
    text-indent: 4px;
    background-color: rgba(255, 255, 255, 0.07);
    border: 1px solid rgba(255, 255, 255, 0.1);
    color: var(--white-color-f);
    border-radius: 3px;
    max-width: 300px;
    width: 100%;
}

.login-form-container input[type="submit"] {
    max-width: unset;
    width: 100px;
    cursor: pointer;
    transition: 0.3s ease;
}

.login-form-container input[type="submit"]:hover {
    background-color: var(--black-color-3);
    color: var(--white-color-f);
}

.login-form-container input[type="submit"]:disabled:hover {
    background-color: unset;
    color: unset;
}
