.orderID {
    font-size: 0.95rem;
    margin-bottom: 0.15rem;
}
.orderID span {
    font-weight: 500;
}

.time {
    font-size: 0.8rem;
    font-weight: 500;
    color: var(--black-color-3);
}

.orderTable {
    width: 100%;
    text-align: left;
    border-collapse: collapse;
}

.orderTable th[data-alias="product"] {
    width: 60%;
}

.orderTable th[data-alias="price"] {
    width: 15%;
}

.orderTable th[data-alias="qty"] {
    width: auto;
}

.orderTable th[data-alias="total"] {
    width: auto;
}

.orderTable,
.orderTable th,
.orderTable td {
    border: 1px solid var(--white-color-c);
    border-collapse: collapse;
    text-align: left;
}

.orderTable th,
.orderTable td {
    padding: 0.8rem 0.5rem;
}

.orderTable td {
    font-size: clamp(0.75rem, 2vw, 0.95rem);
    color: var(--black-color-5);
}

.orderTable td [data-alias="product-name"] {
    font-weight: 600;
    color: var(--black-color-3);
}

.total td {
    color: var(--black-color-0);
    font-weight: 600;
}

.productImage {
    max-width: 150px;
    border-radius: 6px;
    overflow: hidden;
}

@media screen and (max-width: 500px) {
    .orderTable th,
    .orderTable td {
        padding: 0.4rem 0.25rem;
    }
}

.fw_6 {
    font-weight: 600;
}

.status {
    text-transform: capitalize;
    font-size: 0.85rem;
    font-weight: 500;
    margin-bottom: 0.75rem;
}

.address {
    font-size: 0.85rem;
    line-height: 1.35;
}
