/* Product card section */

.products {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 300px));
    justify-content: center;
    gap: 1rem;
    padding: 1rem;
}

.product-card {
    position: relative;
    background-color: #fff;
    padding: 1rem;
    border-radius: 8px;
}

.product-details > * {
    margin-block: 0.25rem;
}

.product-card img {
    height: 200px;
    background-color: #eee;
    width: 100%;
    border-radius: 4px;
    display: block;
}

.product-name {
    color: #333;
}

.product-desc {
    font-size: 0.85rem;
}

.product-amount {
    font-weight: bold;
    color: rgb(179, 23, 23);
}

.product-price {
    font-size: 1.25rem;
}

.product-price::before {
    content: "\20B9";
}

.product-discount {
    font-size: 0.85rem;
    position: relative;
    top: -2px;
}

.product-button-cart {
    position: absolute;
    bottom: 1rem;
    right: 1.2rem;
}

.product-button-cart:has(button) button {
    border: 1px solid#ccc;
    outline: none;
    border-radius: 4px;
    padding: 0.25rem 0.8rem;
    cursor: pointer;
}

.product-button-cart:has(button) button:hover {
    border-color: #aaa;
    background-color: #fff;
}
