.child-selector {
    text-decoration: none;
    color: var(--bg-shades-2);
    font-size: 0.85rem;
    padding: 1rem 0;
    letter-spacing: -0.25px
}

.child-selector li {
    padding: 12px 5px 12px 3.75rem
}

.child-selector.active-child {
    font-weight: 500;
    color: var(--main-color-2)
}

.child-selector.active-child li {
    background-color: var(--bg-trans-1)
}

.child-selector:hover {
    color: var(--main-color-2)
}

.child-selector:hover li{
    background-color: var(--bg-trans-1)
}

.border-bottom {
    padding-bottom: 0.75rem;
    border-bottom: 1px solid var(--white-color-e)
}

.border-bottom:last-child {
    border-bottom: 0
}