.profileContainer {
    background-color: var(--main-bg-color);
    padding: 0.5rem
}

.sideBarBox {
    background-color: #fff;
    margin-bottom: 1rem;
    border-radius: 3px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 8%)
}

.sideBarBox:last-child {
    margin-bottom: 0
}

.profileContent {
    background-color: #fff;
    border-radius: 3px;
    padding: 1.5rem 2rem
}

.profileContainer>div:first-child {
    max-width: 400px;
    flex-basis: 35%
}

.profileContainer>div:last-child {
    flex-basis: 100%
}

.marginBottom {
    margin-bottom: 2rem
}

.containerHeading {
    margin-bottom: 2rem;
    font-weight: 500;
    font-size: 1.25rem;
    letter-spacing: -1px
}

.containerHeading button {
    outline: none;
    border: 0;
    background-color: transparent;
    color: #2270eb;
    font-weight: 600;
    font-size: 0.9rem;
    margin-left: 1rem;
    cursor: pointer
}

.formFields {
    position: relative;
    margin-bottom: 2rem;
}

.formFields input {
    height: 50px;
    text-indent: 20px;
    width: 250px;
    padding-top: 10px;
    font-weight: 500;
    border: 1px solid var(--bg-color-1,#ccc);
    border-radius: 5px;
    outline: none;
    letter-spacing: 0.5px
}

.formFields label {
    position: absolute;
    font-family: sans-serif;
    left: 23px;
    font-size: 0.7rem;
    top: 5px;
    color: #555;
    display: block
}

.formFields input:disabled {
    padding-top: 0
}

.formFields input:disabled + label {
    display: none
}

.formFields button {
    height: 50px;
    outline: none;
    border: 0;
    padding: 1rem 3rem;
    border-radius: 4px;
    font-size: 1rem;
    color: #fff;
    background-color: #2270eb;
    font-weight: 600;
    text-transform: uppercase;
    cursor: pointer
}