.split-layout {
    gap: 1rem;
}

.split-layout:has(.product-button-cart) {
    gap: 2rem;
}

.split-layout-box-2:has(table) {
    overflow: hidden;
}

@media screen and (max-width: 600px) {
    .split-layout {
        flex-direction: column-reverse;
        align-items: center;
        padding: 1rem;
    }

    .split-layout:has(.product-page) {
        flex-direction: column;
    }

    .split-layout:has(.order-summary) > div {
        width: 100%;
    }
}
