* {
    box-sizing: border-box;
    margin: 0;
    font-family: "Montserrat", sans-serif;
}

:root {
    --main-color: #7fffd4;
    --main-color-accent-1: #4f9b81;
    --main-color-2: #2da17b;
    --main-color-dark-1: #2e886a;
    --main-bg-color: #f1f3f6;
    --main-bg-light: #e5fff6;

    --bg-trans-1: rgba(113, 199, 167, 0.094);

    --bg-color-1: #ccc;
    --bg-color-2: #171717;

    --white-color-f: #fff;
    --white-color-e: #eee;
    --white-color-d: #ddd;
    --white-color-c: #ccc;
    --white-color-a: #aaa;
    --black-color-0: #000;
    --black-color-1: #111;
    --black-color-2: #222;
    --black-color-3: #333;
    --black-color-4: #444;
    --black-color-5: #555;
    --black-color-7: #777;
    --black-color-9: #999;
}

img {
    max-width: 100%;
    display: block;
}

.pos-relative {
    position: relative;
}

.d-flex {
    display: flex;
}

.d-grid {
    display: grid;
}

.justify-between {
    justify-content: space-between;
}

.justify-center {
    justify-content: center;
}

.justify-around {
    justify-content: space-around;
}

.align-items-start {
    align-items: flex-start;
}

.align-items-center {
    align-items: center;
}

.flex-direc-col {
    flex-direction: column;
}

.flex-direc-row {
    flex-direction: row;
}

.flex-wrap-wrap {
    flex-wrap: wrap;
}

.gap-50 {
    gap: 0.5rem;
}

.gap-75 {
    gap: 0.75rem;
}

.gap-1 {
    gap: 1rem;
}

.gap-2 {
    gap: 2rem;
}

.mx-auto {
    margin-inline: auto;
}

.mx-1 {
    margin-inline: 1rem;
}

.mx-2 {
    margin-inline: 2rem;
}

.my-auto {
    margin-block: auto;
}

.my-25 {
    margin-block: 0.25rem;
}

.my-50 {
    margin-block: 0.5rem;
}

.my-75 {
    margin-block: 0.75rem;
}

.my-1 {
    margin-block: 1rem;
}

.my-2 {
    margin-block: 2rem;
}

.ml-1 {
    margin-left: 1rem;
}

.ml-2 {
    margin-left: 2rem;
}

.mr-1 {
    margin-right: 1rem;
}

.mr-2 {
    margin-right: 2rem;
}

.mt-25 {
    margin-top: 0.25rem;
}

.mt-50 {
    margin-top: 0.5rem;
}

.mt-75 {
    margin-top: 0.75rem;
}

.mt-1 {
    margin-top: 1rem;
}

.mt-2 {
    margin-top: 2rem;
}

.mb-25 {
    margin-bottom: 0.25rem;
}

.mb-50 {
    margin-bottom: 0.5rem;
}

.mb-75 {
    margin-bottom: 0.75rem;
}

.mb-1 {
    margin-bottom: 1rem;
}

.mb-2 {
    margin-bottom: 2rem;
}

.px-25 {
    padding-inline: 0.25rem;
}

.px-50 {
    padding-inline: 0.5rem;
}

.px-75 {
    padding-inline: 0.75rem;
}

.px-1 {
    padding-inline: 1rem;
}

.px-2 {
    padding-inline: 2rem;
}

.py-25 {
    padding-block: 0.25rem;
}

.py-50 {
    padding-block: 0.5rem;
}

.py-75 {
    padding-block: 0.75rem;
}

.py-1 {
    padding-block: 1rem;
}

.py-2 {
    padding-block: 2rem;
}

.pl-25 {
    padding-left: 0.25rem;
}

.pl-1 {
    padding-left: 1rem;
}

.pl-2 {
    padding-left: 2rem;
}

.pr-1 {
    padding-right: 1rem;
}

.pr-2 {
    padding-right: 2rem;
}

.pt-75 {
    padding-top: 0.75rem;
}

.pt-1 {
    padding-top: 1rem;
}

.pt-2 {
    padding-top: 2rem;
}

.pb-50 {
    padding-bottom: 0.5rem;
}

.pb-75 {
    padding-bottom: 0.75rem;
}

.pb-1 {
    padding-bottom: 1rem;
}

.pb-2 {
    padding-bottom: 2rem;
}

.fw-5 {
    font-weight: 500;
}

.ta-center {
    text-align: center;
}

.min-height-screen {
    min-height: 100vh;
}

.container-fluid {
    max-width: 100%;
}

.container {
    max-width: 1600px;
    margin: 0 auto;
}

.container-2 {
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    display: flex;
    min-height: 100vh;
    justify-content: center;
    align-items: center;
}

.main-heading {
    font-size: 2rem;
    font-weight: bold;
}

#root {
    background-color: var(--main-bg-color, --white-color-d);
}

#root:has(.access-denied) {
    background-color: transparent;
}

.btn {
    border: 0;
    outline: none;
    border-radius: 4px;
    cursor: pointer;
    color: #f0f8ff;
    /* padding: 0.25rem 2rem; */
    width: 70px;
    transition: 0.3s ease-in-out;
}

.btn:hover {
    filter: brightness(80%);
}

.form {
    animation: fillIn 1s linear forwards;
}

.form div:not(:nth-last-child(2)) {
    margin: 1rem auto;
}

.form label {
    font-weight: 500;
}

.form input[type="text"] {
    width: 100%;
    padding: 0.4rem 0.3rem;
    margin: 0.25rem auto;
    outline: none;
}

.form input[type="checkbox"] {
    margin-left: 1rem;
    position: relative;
    top: 1px;
    accent-color: var(--main-color);
}

.form input[type="submit"] {
    width: 100%;
    text-align: center;
    margin: 1rem auto;
    padding: 0.4rem 0;
    border: 0;
    outline: none;
    background-color: var(--main-color, #151515);
    color: var(--white-color-f);
    border-radius: 4px;
    cursor: pointer;
    transition: 0.3s ease-in-out;
}

.form input[type="submit"]:hover {
    filter: brightness(80%);
}

@keyframes fillIn {
    0% {
        opacity: 0;
    }

    70%,
    100% {
        opacity: 1;
    }
}

.loading-screen {
    position: absolute;
    inset: 0;
    z-index: 5;
}

.loading-screen-loader {
    border: 5px solid var(--main-color-2);
    border-right-color: transparent;
    border-radius: 50%;
    padding: 1rem;
    animation: rotate360 1s linear infinite forwards;
}

@keyframes rotate360 {
    0% {
        rotate: 0deg;
    }

    70% {
        rotate: 300deg;
    }

    100% {
        rotate: 360deg;
    }
}

header {
    background-image: linear-gradient(90deg, #000 0%, #151515 100%);
    color: var(--white-color-f);
    position: relative;
    z-index: 999;
}

header .logo {
    user-select: none;
    margin-left: 10px;
}

header .logo a {
    color: var(--white-color-f);
    text-decoration: none;
    transition: 0.2s ease-in-out;
    user-select: none;
}

header .navigation-search {
    position: relative;
    flex: 1;
    max-width: 500px;
    text-align: center;
}

header #search-input {
    position: relative;
}

header #search-input input {
    width: 100%;
    border-radius: 5px;
    border: 0;
    outline: none;
    height: 30px;
    padding-inline: 1rem;
}

header #search-icon-button {
    position: absolute;
    right: 0.75rem;
    top: 0.45rem;
    color: var(--black-color-1);
}

header nav {
    --padding-block: 0.94rem;
    --padding-inline: 0.625rem;
}

header nav ul {
    list-style: none;
    padding: 0;
}

header nav > ul > li {
    position: relative;
    padding: var(--padding-block) var(--padding-inline);
}

nav > ul li a {
    color: var(--white-color-f);
    text-decoration: none;
    transition: 0.2s ease-in-out;
    user-select: none;
}

nav > ul li a:hover {
    color: aquamarine;
}

ul li > ul {
    display: none;
    position: absolute;
    max-width: 100%;
    min-width: 150px;
    top: 100%;
    background-color: #000;
    border-radius: 0 0 4px 4px;
}

ul li > ul li {
    padding: var(--padding-block) var(--padding-inline);
    cursor: pointer;
    user-select: none;
    transition: 0.3s ease-in-out;
}

ul li > ul li:hover {
    background-color: var(--main-color);
}

ul li > ul.dropdown-menu li a:hover {
    color: var(--white-color-f);
}

nav ul button {
    outline: none;
    border: 0;
    color: inherit;
    background-color: inherit;
    font-size: inherit;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

nav ul button:hover {
    color: aquamarine;
}

.dropDown-arrow {
    position: relative;
    top: 3px;
}

.menu-toggler {
    display: none;
    position: absolute;
    right: 1.5rem;
    top: 10px;
    cursor: pointer;
    border: 2px solid #aaa;
    padding: 4px 10px 1px;
    border-radius: 5px;
    transition: 0.2s ease-in-out;
}

.menu-toggler:hover,
.menu-toggler:focus-within {
    border: 2px solid var(--main-color);
    color: var(--main-color);
}

@media screen and (max-width: 500px) {
    header > div {
        /* display: block !important; */
        display: block !important;
        /* justify-content: flex-start !important; */
        position: relative;
    }

    header .logo {
        padding: 0.94rem 0.625rem;
    }

    header .navigation-search {
        padding-block: 0 0.5rem;
        padding-inline: 1rem;
    }

    .menu-toggler {
        display: block;
    }

    .active-nav {
        display: block;
    }

    header nav {
        display: none;
    }

    header nav > ul {
        display: block !important;
    }

    ul li > ul {
        padding-left: 0.8rem;
        position: static !important;
    }
}

/* Scroll Indicator */

.scroll-indicator {
    position: sticky;
    top: 0;
    width: 100%;
    height: 3px;
    background-color: transparent;
    z-index: 2;
}

.scroller-progress {
    height: 3px;
    background-color: rgb(12, 231, 231);
}

/* Ecommerce */

.ecommerce {
    min-height: 100vh;
}

.ecommerce:has(.user-login-form) {
    background-color: #181718;
}

/* Footer */

footer {
    color: var(--white-color-f);
    background-image: linear-gradient(90deg, #000 0%, #222 100%);
    border-top-left-radius: 60px;
    font-size: 0.8rem;
}

.footer-main {
    display: flex;
    padding: 3rem;
    gap: 50px;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.row {
    margin-top: 2rem;
}

.logo {
    max-width: 250px;
}

.footer-header {
    font-size: 1.5rem;
    margin-bottom: 20px;
}

.btn-know {
    display: inline-block;
    text-decoration: none;
    padding: 10px;
    margin-top: 10px;
    top: 30px;
    background-color: transparent;
    border: 1px solid var(--main-color);
    color: var(--main-color);
    text-transform: uppercase;
    border-radius: 10px;
}

.btn-know:hover {
    color: white;
    background-color: var(--main-color-2);
    border-color: var(--main-color-2);
    transition: linear 0.3s;
}

.office-des {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.office a {
    text-decoration: none;
    color: var(--white-color-f);
    transition: 0.2s ease-in-out;
}

.office a:hover {
    color: var(--main-color);
}

.num {
    font-size: 1rem;
    font-weight: 500;
}

.link-des {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.link-des a {
    color: var(--white-color-f);
    text-decoration: none;
    font-size: 1rem;
}

.link-des a:hover {
    color: var(--main-color);
    transition: linear 0.3s;
}

hr {
    width: 90%;
    margin: 2px auto;
    opacity: 40%;
    border: 0.01px solid var(--main-color-2);
}

.copyright {
    text-align: center;
}

.copyright p {
    padding: 20px;
}

@media (max-width: 720px) {
    .footer-main {
        gap: 1rem;
        margin: 0;
        padding: 1rem;
    }

    .icons {
        display: flex;
    }
}

@media (max-width: 720px) {
    .footer-main {
        display: block;
    }
}

/* CSS Transition */

.my-node-enter {
    opacity: 0;
    transform: translateX(100%);
}

.my-node-enter-active,
.my-node-enter-done {
    opacity: 1;
    transform: translateX(0%);
    transition: transform 1000ms, opacity 2000ms;
}

.my-node-exit {
    opacity: 1;
}
.my-node-exit-active {
    opacity: 0;
    transform: translateX(100%);
    transition: transform 2000ms, opacity 1000ms;
}

/* Category */

.category-each {
    border-radius: 10px;
    border: 1px solid var(--white-color-d);
    padding: 0.25rem 1rem;
    margin-block: 0.5rem;
    font-size: 0.8rem;
    font-weight: 500;
}

.category-keyword {
    display: flex;
    flex-wrap: wrap;
}

.category-keyword span {
    padding: 0.25rem 1rem;
    margin-inline: 2px;
    border-radius: 2rem;
    color: var(--white-color-e);
    background-color: var(--main-color-accent-1);
}

.category-icons {
    position: relative;
    top: 2px;
    font-size: 0.9rem;
    margin-inline: 3px;
    cursor: pointer;
}

/* Checkout CSS */

.address-radio:has(input:checked) {
    border: 1px solid var(--main-color-2);
    background-color: var(--main-bg-light);
}

.address-radio:not(:has(input:checked)) {
    border: 1px solid transparent;
}
